body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    position: relative;
    top: 200px;
    height: 330px;
    width: 330px;
    display: flex;
    gap: 2px;
  }
  
  .anime-card {
    height: 100%;
    width: 100%;
    flex: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .anime-card img,
  .anime-card video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s ease;
  }
  
  .anime-card img {
    filter: grayscale(1);
    z-index: 1;
  }
  
  .anime-card video {
    opacity: 0;
    z-index: 2;
  }
  
  .anime-card:hover {
    flex: 4;
  }
  
  .anime-card:hover img {
    filter: grayscale(0);
    opacity: 0;
  }
  
  .anime-card:hover video {
    opacity: 1;
    filter: grayscale(0);
  }
  