body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    position: relative;
    top: 200px;
    height: 330px;
    width: 330px;
    display: flex;
    gap: 2px;
  }
  
  .anime-card {
    height: 100%;
    width: 100%;
    flex: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .anime-card img,
  .anime-card video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s ease;
  }
  
  .anime-card img {
    filter: grayscale(1);
    z-index: 1;
  }
  
  .anime-card video {
    opacity: 0;
    z-index: 2;
  }
  
  .anime-card:hover {
    flex: 4;
  }
  
  .anime-card:hover img {
    filter: grayscale(0);
    opacity: 0;
  }
  
  .anime-card:hover video {
    opacity: 1;
    filter: grayscale(0);
  }
  .assistir-link {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 8px 15px;
  border-radius: 10px;
  text-decoration: none;
  z-index: 3;
}

.anime-card:hover .assistir-link {
  display: block;
}
  