body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 300vh;
  overflow-y: auto;

}
.logo {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 30px;
  font-size: 25px;
  
}
.linklogo{
  text-decoration: none;
}
.wall{
  font-size: 30px;
  
}
.cine {
  font-size: 20px;
  position: relative;
  top: -25px;
  left: 30px;
  font-weight: bold;
}
.cine {
  font-size: 22px;
  font-weight: bold;
  animation: mudarCores 3s infinite;
}

@keyframes mudarCores {
  0% {
    color: red;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: green;
  }

  100% {
    color: red;
  }
}

ul {
  position: relative;
  top: -20px;
  display: flex;
  /* deixa os itens em linha */
  gap: 15px;
  /* espaço entre os itens */
  list-style: none;
  /* remove bolinhas da lista */
  padding: 10px;
  margin: 0;
  overflow-x: auto;
  /* permite scroll na horizontal */
  scroll-behavior: smooth;
  /* rolagem suave */
}

ul::-webkit-scrollbar {
  height: 8px;
}

li {
  flex: 0 0 auto;
  color: white;
  /* impede que os itens encolham */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}
.imgprincipal {
  position: absolute;
  top: 1px;
}
.imagem {
  position: relative;
  width: 400px;
  top: 0px;
  z-index: 0;
  display: none;
}
.icone {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  font-size: 30px;

}
.titulo1{
  color: white;
  position: relative;
  left: 35px;
  top: 5px;
}





.slider {
      position: relative;
      align-items: center;
      justify-content: center;
      left: 35px;
      width: 300px;
      height: 350px;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(0,0,0,0.5);
    }

    .slide {
      position: absolute;
      width: 100%;
      height: 350px;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    .slide.active   {
      opacity: 1;
    }

    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }










.pai {
  position: relative;
  top: 10px;
  display: flex;
  /* deixa os itens em linha */
  gap: 15px;
  /* espaço entre os itens */
  padding: 10px;
  margin: 0;
  overflow-x: auto;
  /* permite scroll na horizontal */
  scroll-behavior: smooth;
  /* rolagem suave */
}
.pai::-webkit-scrollbar {
  height: 8px;
}
.filho {
  flex: 0 0 auto;
  /* impede que os itens encolham */
  width: 150px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.imgcell {
  height: 200px;
  width: 150px;
  border-radius: 20px;
  box-shadow:
    0 0 20px rgba(24, 1, 1, 0.2),
    0 0 40px rgba(10, 1, 1, 0.15),
    0 0 60px rgba(24, 1, 1, 0.1);
}
.sombra {
  display: flex;
  background-color: aqua;
  z-index: 3;
  position: relative;
}