* {
    margin: 0;
    padding: 0;


}
body{
    height: 150vh;



}
.cadastro{
  position: absolute;
  background-color: aliceblue;
  top: 100px;
  z-index: 1;
  text-decoration: none;

}

























    .pai {
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: black;
    
    }

    .fundo {
        top: 0;
        position: relative;
        width: 400px;
        height: 100vh;
      


    }

    .fundo-escuro {
        position: fixed;
        top: 0px;
        width: 400px;
        height: 120vh;
        background-color: black;
        opacity: 0.86;
        z-index: 1;
    }


.text2 {
  font-size: 30px;
  position: relative;
  
  font-weight: bold;
}
.text2 {
  font-weight: bold;
  animation: mudarCores 3s infinite;
}

@keyframes mudarCores {
  0% {
    color: red;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: green;
  }

  100% {
    color: red;
  }
}
